<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HispaniaComptabilitat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--STAGING-->
		<!--<add name="HispaniaComptabilitatConnectionString" connectionString="data source=161.22.41.147;initial catalog=COMPTABILITAT;user id=HispaniaBD;password=Phispania2;Connect Timeout=3;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
        <add name="HispaniaComptabilitatEntities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=161.22.41.147;initial catalog=COMPTABILITAT;user id=HispaniaBD;password=Phispania2;Connect Timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<!--PRODUCTION-->
		<!--<add name="HispaniaComptabilitatConnectionString" connectionString="data source=HISP1SRV03;initial catalog=COMPTABILITAT;user id=HispaniaBD;password=Phispania2;Connect Timeout=3;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="HispaniaComptabilitatEntities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISP1SRV03;initial catalog=COMPTABILITAT;user id=HispaniaBD;password=Phispania2;Connect Timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<!--LOCAL-->
		<add name="HispaniaComptabilitatConnectionString" connectionString="data source=localhost;initial catalog=COMPTABILITAT;Persist Security Info=True;Integrated Security=true;Connect Timeout=3;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
		<add name="HispaniaComptabilitatEntities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=COMPTABILITAT;Persist Security Info=True;Integrated Security=true;Connect Timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<applicationSettings>
		<HispaniaComptabilitat.Properties.Settings>
			<setting name="TrazaError" serializeAs="String">
				<!--
        TRACE_LEVEL_NONE_LOG        =   0, /// No se escribe nada en el Log.
        TRACE_LEVEL_CRITICAL_ERRORS =   1, /// Log solo con los Errores graves (HORRORES).
        TRACE_LEVEL_ERRORS          =   2, /// Log solo con los Errores graves y el resto de Errores (ERRORES).
        TRACE_LEVEL_WARNINGS        =   3, /// Log con Errores graves, el resto de Errores y Avisos importantes (WARNING).
        TRACE_LEVEL_INFO            =   4, /// Log con Errores graves, el resto de Errores, Avisos importantes e Información 
                                           /// Varia (INFO).
        TRACE_LEVEL_VERBOSE         =   5, /// Log con Errores graves, el resto de Errores, Avisos importantes, Información
                                           /// Varia e Información Adicional (VERBOSE).
        TRACE_LEVEL_VVERBOSE        =   6, /// Log con Errores graves, el resto de Errores, Avisos importantes, Información 
                                           /// Varia e Información Adicional (VVERBOSE).
        TRACE_LEVEL_VVVERBOSE       =   7, /// Log con Errores graves, el resto de Errores, Avisos importantes, Información 
                                           /// Varia e Información Adicional (VVVERBOSE).
        TRACE_LEVEL_ALL_INFO        = 256, /// Se muestra toda la información disponible.
        -->
				<value>TRACE_LEVEL_ERRORS</value>
			</setting>
		</HispaniaComptabilitat.Properties.Settings>
	</applicationSettings>
</configuration>
