<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <!--STAGING-->
        <!--<add name="HispaniaComptabilitatEntities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=161.22.41.147;initial catalog=COMPTABILITAT;user id=HispaniaBD;password=Phispania2;Connect Timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="Entities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=161.22.41.147;initial catalog=COMPTABILITAT;persist security info=True;user id=HispaniaBD;password=Phispania2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
        <!--PRODUCTION-->
        <!--<add name="HispaniaComptabilitatEntities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HISP1SRV03;initial catalog=COMPTABILITAT;user id=HispaniaBD;password=Phispania2;Connect Timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
        <!--LOCAL-->
        <add name="HispaniaComptabilitatEntities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=COMPTABILITAT;Persist Security Info=True;Integrated Security=true;Connect Timeout=3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="Entities" connectionString="metadata=res://*/HispaniaComptabilitatModel.csdl|res://*/HispaniaComptabilitatModel.ssdl|res://*/HispaniaComptabilitatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=COMPTABILITAT;persist security info=True;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>